.tasks {
  margin-block-start: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 24px;
  font-weight: bold;
  font-size: 14px;
}

.createdTasks {
  color: var(--blue);
  display: flex;
  gap: 8px;
}

.counter {
  background: var(--gray-400);
  border-radius: 12px;
  width: 25px;
  display: flex;
  justify-content: center;
  color: var(--gray-200);
  font-size: 12px;
  padding: 2px;
}

.doneTasks {
  color: var(--purple);
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  padding-top: 64px;
}

.main svg {
  margin-block-end: 16px;
}

.main p:first-of-type {
  font-weight: bold;
}

.mainWithTasks {
  background: var(--gray-500);
  border-radius: 8px;
  padding: 16px 16px;
  color: var(--gray-100);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task p {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.task input {
  margin-right: 12px;
  outline-color: none;
  border: 1px solid var(--blue);
}

.mainWithTasks + .mainWithTasks {
  margin-top: 12px;
}
